.container {
    background-color: #fff;
    max-width: 100%;
  }

.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    box-shadow: 0px 15px 10px -15px #111; 
  }

.search-countries{
    padding: 50px 50px;
    /* background-color: hsl(0, 0%, 100%); */
} 

.search-bar{
    display: flex;
    justify-content: space-between;

}

input[type= search]{
    padding: 13px 90px;
    border-radius: 6px;
    border: 2px solid hsl(0, 3%, 75%);
}

select{
    padding: 13px 40px;
    border-radius: 6px;
}

option:before {
    content: ">";
    font-size: 20px;
    display: none;
    padding-right: 10px;
    padding-left: 5px;
    color: #fff;
  }

 #countries{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 60px;
  }
  
.country-category{
    background-color: #fff;
}

.spinner{
    display: flex;
    justify-content: center;
}

/* media queries */

@media (min-width: 374px) and (max-width: 480px){

    .search-countries{
        padding: 20px 10px;
    }

    .search-bar{
        display: block;
    }

    .search-input{
        margin-bottom: 30px;
    }

    input[type= search]{
        width: 100%;
    }

    #countries{
        display:block;
        margin-top: 40px;
    }
}